<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhj.mapper.TableInfoMapper">

    <!--获取指定数据库下所有的表-->
    <select id="queryAllTableName" parameterType="string" resultType="map">
      SELECT TABLE_NAME AS tableName, TABLE_COMMENT AS tableCommit
      FROM `TABLES` WHERE TABLE_SCHEMA = #{databaseName}
      ORDER BY TABLE_NAME ASC
    </select>

    <!--根据表名称获取表的属性信息-->
    <select id="queryTableInfoByName" parameterType="string" resultType="map">
        SELECT
            CAST(t2.ORDINAL_POSITION AS CHAR) AS serialNo,
            t2.COLUMN_NAME AS fieldName,
            t2.DATA_TYPE AS `type`,
            SUBSTRING(t2.COLUMN_TYPE, locate( "(", t2.COLUMN_TYPE )+ 1, LENGTH( t2.COLUMN_TYPE ) - locate( "(", t2.COLUMN_TYPE )- 1 ) AS `length`,
            t2.COLUMN_TYPE AS typeAndLen,
            t2.NUMERIC_PRECISION AS `precision`,
            t2.NUMERIC_SCALE AS numScale,
            t2.IS_NULLABLE AS allowEmpty,
            IF( t2.COLUMN_KEY = 'PRI', 'YES', 'NO' ) AS mainKey,
            t2.COLUMN_DEFAULT AS defaultVal,
            t2.COLUMN_COMMENT AS describeInfo
        FROM
            `TABLES` t1 INNER JOIN `COLUMNS` t2 ON t2.TABLE_SCHEMA = t1.TABLE_SCHEMA AND t2.TABLE_NAME = t1.TABLE_NAME
        WHERE
            t1.TABLE_SCHEMA = #{databaseName} AND t1.TABLE_NAME = #{tableName}
    </select>

</mapper>
